@using System.Data
@model DataTable

@{
    ViewBag.Title = "View";
}

<h2>View</h2>
<div class="table-responsive">
    <table class="table display" id="panier">
        <thead>
            <tr>
                @foreach (System.Data.DataColumn col in Model.Columns)
            {
                    <th>@col.Caption</th>
                }
                <th id="total">Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (System.Data.DataRow row in Model.Rows)
            {
                <tr>
                    @foreach (var cell in row.ItemArray)
                {
                        <td>@cell.ToString()</td>
                    }
                    <td></td>
                    <td><a class="btn btn-primary btn-xs" href="/Panier/AddToPanier?articleId=@row["Id"]"><span class="glyphicon glyphicon-plus"></span></a>
                    <a class="btn btn-danger btn-xs" href="/Panier/RemoveFromPanier?articleId=@row["Id"]"><span class="glyphicon glyphicon-minus"></span></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    <script>
        $(document).ready(function() {
            $('#panier').dataTable({
                "columnDefs": [
             {
                 "targets": [0],
                 "visible": false,
                 "searchable": false
             },
            {
                "targets": [5],
                "sortable": false,
                "searchable": false
            }
                ]
            });
        });
    </script> }